# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Dependency directories
node_modules
.browser_modules
/plugins/

# Logs
*.log
__pycache__/
*.pyc

lib
dist
*-app/*
!*-app/package.json
!electron-app/electron-main.js
*.tsbuildinfo
.env
.claude/
.venv-crosswalk/
.pystow-crosswalk/
